[submodule "Scout-Ops-Android"]
	path = Scout-Ops-Android
	url = https://github.com/riteshrajas/Scout-Ops-Android.git
[submodule "Scout-Ops-Server"]
	path = Scout-Ops-Server
	url = https://github.com/riteshrajas/Scout-Ops-Server.git
[submodule "Scout-Ops-WindowsApp"]
	path = Scout-Ops-WindowsApp
	url = https://github.com/riteshrajas/Scout-Ops-WindowsApp
